@font-face {
  font-family: 'Roddenberry';
  src: local('Roddenberry'),
    url('../../fonts/Roddenberry.otf') format('opentype');
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roddenberry';
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.displayArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.displayAreaVulcan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(245, 208, 153);
  color: maroon;
}

.displayAreaSpace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}

.displayAreaEarth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightblue;
  color: rgb(141, 107, 20);
}

.characterGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.headerThemeSpace {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.headerThemeEarth {
  background-color: lightblue;
  color: rgb(141, 107, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.headerThemeVulcan {
  background-color: rgb(245, 208, 153);
  color: maroon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
